/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

/*--------------
All Contents
--------------*/
/*-----------------
1. Reset.css
2. Helper Classes
3. Hamburger Menu Styling
4. Homepage Contents Styling
5. About Page Styling
6. Portfolio Styling
7. Portfolio Single
8. Contact Page Styling
9. Footer section
10. All Media Queries
------------------*/
/*----- 1. Reset.css -----*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --- Common Styles ---*/
h1 {
  font-size: 16px; }

/*----- Helper Classes -----*/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins; }

::-moz-selection {
  color: #1106CC;
  background: #FFFF99; }

::selection {
  color: #1106CC;
  background: #FFFF99; }

.nopadding {
  padding: 0; }

.custompadding {
  padding-left: 5px;
  padding-right: 5px; }

.no-margin {
  margin-right: 0;
  margin-left: 0; }

.underline {
  display: inline;
  border-bottom: 3px solid #111;
  padding-bottom: 0; }

.after-line {
  height: 3px;
  width: 100px;
  background: #001CFF;
  margin-top: -10px;
  transition: 0.5s; }

.sup-title {
  display: inline-block;
  font-size: 1em;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  background: #000000;
  margin: 0 0 20px 0; }

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  opacity: 1;
  background-color: #F2F2F2;
  z-index: 9999;
  text-align: center; }

#loading-image {
  display: inline;
  top: 40%;
  position: relative;
  z-index: 9999; }

.logo {
  position: fixed;
  top: 20px;
  left: 15px;
  padding: 0px 0px;
  z-index: 111; }

.logo:hover, .logo:focus {
  text-decoration: none;
  color: #FFF; }

/* -------------------------------------------------
------- Navbar Styling - Transparent Start ---------
---------------------------------------------------*/
/* -------------------------------------------------
--------------- 3.Home Page Styling Starts -----------
---------------------------------------------------*/
.main {
  width: 100%;
  height: 100%;
  background: #F2F2F2;
  transition: 0.5s; }

.jarallax {
  position: relative;
  background: url(../images/main_bg-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.main-intro {
  padding-top: 200px; }

.main-intro h1 {
  font-size: 2rem;
  color: #111;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -2px; }

/*-------------------------------------------------
------- Personal About Section - Home Page --------
---------------------------------------------------*/
.about-personal {
  height: 100%;
  width: 100%;
  background: #FFF; }

.ps-intro {
  padding-top: 150px;
  padding-bottom: 100px; }

.ps-title p {
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 1.2;
  margin: 0 0 20px 0; }

.ps-details p {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  margin-top: 0px;
  line-height: 1.5;
  letter-spacing: 0px;
  margin: 0 0 20px 0; }

.underline {
  border-color: #FFFF99; }

/* ---------------------------------------------------
-------- Personal Two Section Homepage Start ---------
----------------------------------------------------*/
.personal-home {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  padding-bottom: 100px; }

.personal-details {
  padding-top: 100px; }

.personal-details h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 0.9; }

.personal-details p {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 30px; }

/* ----- About Section -----*/
.abt-personal {
  padding-top: 100px;
  padding-bottom: 100px; }

.abt-personal span {
  font-size: 16px;
  color: #FFF;
  font-weight: 700;
  padding: 5px;
  background: #80bfff;
  text-transform: uppercase; }

.abt-personal h1 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 30px 0 0 0; }

.abt-personal p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-top: 20px; }

/* ---------------------------------------------------
--------- Personal Two Section Homepage Ends ---------
----------------------------------------------------*/
/*----------------------------------------------------
------------- All ------------------------------------
--------------------- Media --------------------------
------------------------------- Queries --------------
-----------------------------------------------------*/
@media only screen and (min-width: 767px) {
  .logo {
    position: absolute;
    top: 20px;
    left: 20px; } }

/*-----------------------------------------------------
---------- Hamburger Menu Styling Starts --------------
------------------------------------------------------*/
/* ----- Hamburger Menu Styling and Animation  ------*/
.nav-trigger {
  width: 40px;
  height: 40px;
  z-index: 111;
  position: fixed;
  right: 10px;
  top: 30px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer; }

.nav-trigger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 21px;
  background: #111;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.nav-trigger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center; }

.nav-trigger span:nth-child(2) {
  width: 26px;
  top: 8px;
  -webkit-transform-origin: left center;
  transform-origin: left center; }

.nav-trigger span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  transform-origin: left center; }

.nav-trigger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
  left: 4px; }

.nav-trigger.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.nav-trigger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 4px; }

/*-----------------------------------------------------
----------- Hamburger Menu Styling Ends ---------------
------------------------------------------------------*/
/* ------ Nav Menu Styling -----*/
#nav-menu {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 110;
  width: 75%;
  background-color: #F2F2F2;
  background-size: cover;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform .4s 0s, visibility 0s .6s;
  transition: transform .4s 0s, visibility 0s .6s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

#nav-menu .navigation {
  margin-top: 150px;
  margin-bottom: 20px; }

#nav-menu li {
  padding-bottom: 1em; }

#nav-menu li {
  display: block;
  line-height: 2em;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: center;
  line-height: 2;
  padding-bottom: 1em;
  color: #222;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  transition: .8s 0s; }

#nav-menu a {
  position: relative;
  color: #111;
  text-decoration: none; }

#nav-menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #222222;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s; }

#nav-menu li:hover a::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.no-touch #nav-menu a:hover {
  color: #000;
  text-decoration: none; }

/* ----- Dimming Main Content When Navigation is Active -----*/
.main::before {
  display: block;
  content: "";
  width: 100%;
  height: 0;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 100;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.5s ease, height 1ms 0.5s ease; }

.main.is-active.main::before {
  transition: opacity 0.5s ease;
  height: 100%;
  opacity: 1; }

#nav-menu.is-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  transition: -webkit-transform .4s 0s, visibility 0s 0s;
  transition: transform .4s 0s, visibility 0s 0s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-overflow-scrolling: touch; }

#nav-menu.is-active {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s 0s, visibility 0s 0s; }

#nav-menu.is-active li {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition: .8s 0s; }

#nav-menu .copyright-text {
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
  padding: 20px 20px; }

.nav-social ul {
  padding: 0.5em;
  list-style-type: none;
  text-align: center; }

.nav-social li {
  display: inline !important;
  padding-left: 1em !important; }

.nav-social i, .nav-social a {
  font-size: 21px;
  color: #222222; }

.nav-social a:before {
  display: none; }

@media only screen and (min-width: 768px) {
  #nav-menu {
    width: 50%; }
  #nav-menu .navigation {
    margin-top: 150px; }
  #nav-menu li {
    font-size: 24px;
    text-align: center;
    padding-left: 0em; }
  .nav-social ul {
    padding: 0.4em; } }

/* --------------------------------------------------
------ Homepage Split Layout Styling Starts ---------
---------------------------------------------------*/
.left-section {
  background: url(../images/bg.gif);
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1; }

.no-background {
  background: linear-gradient(to right, transparent, transparent);
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1; }

.particles-background {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/beach.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1; }

.right-section {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background: #F2F2F2;
  z-index: 99;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0 0px 30px #444444; }

.intro-personal {
  /*	padding-top: 200px;
*/
  text-align: center;
  padding: 200px 5% 0; }

.intro-personal .intro-text h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1.2; }

.intro-personal .intro-text h3 {
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1.2; }

.btn-contact {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  color: #001CFF;
  display: inline-block;
  text-transform: uppercase;
  background: transparent;
  border: 3px solid;
  border-color: #001CFF;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-transform: 0.5s;
  -moz-transform: 0.5s;
  transition: 0.5s; }

.btn-contact:hover, .btn-contact:focus {
  color: #FFFFFF;
  background: #001CFF;
  border-color: #001CFF;
  text-decoration: none; }

/* ----- About Page Style Starts ----- */
.split-about {
  padding-top: 150px; }

.split-about-details {
  padding: 40px; }

.split-about .split-about-details h4 {
  display: inline;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  float: left;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #222222;
  padding: 2px 4px;
  line-height: 1.2; }

.split-about .split-about-details h1 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 50px 0 10px 0; }

.split-about .split-about-details h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -1px;
  line-height: 1.3;
  margin: 50px 0 0 0; }

.split-about .split-about-details .btn-contact {
  margin-top: 20px;
  padding: 6px 12px; }

.split-about .split-about-details span {
  font-family: Poppins;
  font-size: 16px;
  text-align: left;
  line-height: 1.2; }

.split-about .split-about-details p {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
  margin: 20px 0 10px 0; }

.split-about-experience {
  padding-top: 50px; }

.split-about-experience h2 {
  display: inline;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  float: left;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #222222;
  padding: 2px 4px;
  line-height: 1.2; }

.split-about-experience ul {
  padding: 50px 0 0 0; }

.split-about-experience li {
  margin-bottom: 1em; }

.split-about-experience h3 {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 700;
  color: #111111;
  letter-spacing: 0px;
  line-height: 1.2; }

.split-about-experience p {
  font-family: Work Sans;
  font-size: 14px !important;
  font-weight: 300;
  color: #888DA1;
  padding: 0 0 10px 0;
  line-height: 1.1; }

.split-about-experience h6 {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  padding: 0 0 10px 0;
  letter-spacing: 1px; }

/* ----- About Page Style Ends ----- */
/* --------------------------------------------------
------- Portfolio Split Layout Styling Starts -------
---------------------------------------------------*/
.portfolio-split {
  padding-top: 150px;
  text-align: left; }

.portfolio-split .portfolio-intro {
  padding: 2em; }

.portfolio-split .portfolio-intro span {
  font-family: Poppins;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 1px;
  padding: 2px 4px;
  background: #222222; }

.portfolio-split .portfolio-intro h1 {
  font-size: 28px;
  line-height: 1.2;
  margin: 40px 0 0 0; }

.portfolio-split .portfolio-split-items {
  padding-top: 50px;
  padding-bottom: 20px; }

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s; }

.overlay-items {
  height: 300px;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0; }

.overlay-items h5 {
  font-family: Poppins;
  display: block;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  transition: 0.3s;
  transition-delay: 0.1s;
  opacity: 0; }

.overlay-items p {
  margin-top: 0em;
  opacity: 0;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 1px;
  color: #111111;
  padding: 5px 5px;
  background: #FFF;
  display: inline-block;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  transition: 0.3s;
  transition-delay: 0.2s; }

.grid img {
  overflow: hidden;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s; }

.grid a:hover .overlay {
  opacity: 1;
  visibility: visible; }

.grid a:hover h5, .grid a:hover p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  text-decoration: none; }

/* --------------------------------------------------
-------- Portfolio Split Layout Styling Ends --------
---------------------------------------------------*/
/* ----------------------------------------------------
----------- Portfolio Filter Styling Starts -----------
-----------------------------------------------------*/
.primal-portfolio {
  padding-left: 35px;
  padding-right: 35px; }

.primal-portfolio nav {
  padding-bottom: 30px;
  text-align: left; }

.primal-portfolio .categories ul li {
  display: inline;
  list-style: none; }

.primal-portfolio .categories ul li a {
  display: inline;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.5;
  text-decoration: none;
  color: #666666;
  margin-left: 20px; }

.primal-portfolio .categories ul li a.active {
  text-decoration: line-through;
  color: #000000; }

.primal-portfolio_filter {
  padding-left: 0; }

.primal-portfolio_item {
  overflow: hidden;
  margin-bottom: 10px;
  display: block; }

.primal-portfolio-overlay {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  opacity: 0;
  transition: 0.5s; }

.primal-overlay-items {
  height: 300px;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0; }

.primal-overlay-items p {
  margin-top: 1em;
  opacity: 0;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 2px;
  color: #111111;
  padding: 5px 5px;
  background: #FFFFFF;
  display: inline-block;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  transition: 0.3s;
  transition-delay: 0.2s; }

.primal-portfolio_item:focus, .primal-portfolio_item:hover {
  text-decoration: none; }

.primal-portfolio_item:hover .primal-portfolio-overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.primal-portfolio_item:hover h5, .primal-portfolio_item:hover p {
  opacity: 1; }

.primal-portfolio_item:hover p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  text-decoration: none; }

/* ----- Portfolio Filter Styling Ends ----- */
/* ----- Portfolio Single Style Starts ----- */
.portfolio-single {
  padding-top: 100px;
  text-align: center; }

.portfolio-single .project-details {
  padding: 40px; }

.portfolio-single .project-details h4 {
  display: inline;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  float: left;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #222222;
  padding: 2px 4px;
  line-height: 1.2; }

.portfolio-single .project-details h1 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 50px 0 20px 0; }

.portfolio-single .project-details p {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  line-height: 1.4; }

.project-images {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

.project-images img {
  max-width: 100%;
  max-height: 100%; }

.project-details ul {
  list-style-type: none;
  text-align: left;
  padding-top: 40px; }

.project-details span {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  color: #FFF;
  background: #222222;
  padding: 2px 4px;
  text-transform: uppercase; }

.portfolio-single .project-sub-details p {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0px; }

.portfolio-single .project-sub-details a {
  font-family: Work Sans;
  color: #001CFF; }

.portfolio-single .project-sub-details a:hover {
  font-family: Work Sans;
  color: #FF3333;
  text-decoration: none; }

.link-back {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden; }

.link-back i {
  font-size: 34px;
  color: #111111; }

/* ----- Portfolio Single Style Ends ----- */
/* ----- Contact Page Styling Starts ----- */
.split-contact {
  padding-top: 100px; }

.split-contact .split-contact-intro {
  padding: 40px;
  text-align: left; }

.split-contact .split-contact-intro h4 {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  display: inline;
  letter-spacing: 1px;
  color: #FFF;
  background: #222222;
  padding: 2px 4px;
  text-transform: uppercase; }

.split-contact-intro h1 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 20px 0 20px 0; }

.split-form {
  padding-top: 50px;
  text-align: left; }

/* ----- Form Styling Starts ----- */
label {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #111111; }

.controls input {
  font-family: Poppins;
  color: #888DA1; }

.form-control {
  border: 0px;
  border-radius: 0px;
  margin-top: 10px;
  background: transparent;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
  box-shadow: inset 0 0px 0px transparent;
  transition: 0.5s; }

.form-control:focus {
  border-color: #222222;
  box-shadow: none; }

.form-control::-webkit-input-placeholder {
  font-family: Work Sans;
  font-size: 12px;
  color: #888DA1; }

.form-control:-moz-placeholder {
  font-family: Work Sans;
  font-size: 12px;
  color: #888DA1; }

.form-control::-moz-placeholder {
  font-family: Work Sans;
  font-size: 12px;
  color: #888DA1; }

.form-control:-ms-input-placeholder {
  font-family: Work Sans;
  font-size: 12px;
  color: #888DA1; }

.text-muted {
  font-family: Work Sans;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #222; }

.text-muted strong {
  color: #FF3333; }

.btn-send {
  font-family: Poppins;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  border-radius: 0px;
  color: #FFFFFF !important;
  background: #222222;
  transition: 0.5s; }

.btn-send:hover, .btn-send:focus {
  color: #FFFFFF;
  background: #000000;
  outline: none !important; }

/* ----- Form Styling Ends ----- */
/* ----- Contact Page Styling Ends ----- */
/* ----- Footer Section Styling Starts ----- */
.footer-personal {
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative; }

.lesspadding {
  padding-top: 0;
  padding-bottom: 30px; }

.footer-personal ul {
  list-style: none; }

.footer-personal li {
  display: inline; }

.footer-personal a {
  display: inline;
  font-family: Work Sans;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  color: #111111;
  text-decoration: none; }

.footer-personal a:hover, .footer-personal a:focus {
  color: #222222;
  text-decoration: line-through; }

.footer-credits {
  font-family: Work Sans;
  font-size: 14px;
  margin-top: 20px; }

/* ----- Footer Section Styling Ends ----- */
/* -----------------------------------------------
---------- Media Queries for Split Layout --------
----------------------------------------------- */
@media only screen and (max-width: 801px) {
  .right-section {
    position: relative;
    width: 100%; }
  .left-section {
    position: relative;
    width: 100%;
    min-height: 100vh; }
  .btn-contact {
    font-size: 18px;
    padding: 10px 20px; }
  .split-about {
    padding-top: 50px; }
  .split-about-details {
    padding: 25px; }
  .portfolio-split {
    padding-top: 100px; }
  .portfolio-split .portfolio-intro h1 {
    font-size: 24px; }
  .portfolio-split .portfolio-intro {
    padding: 1em; }
  .portfolio-single .project-details {
    padding: 15px; }
  .primal-portfolio span {
    margin-bottom: 0;
    text-align: center;
    width: 100%; }
  .primal-portfolio {
    padding-left: 15px;
    padding-right: 15px; }
  .primal-portfolio .categories ul li {
    text-align: center; }
  .primal-portfolio .categories ul li a {
    margin-left: 20px; }
  .footer-personal {
    margin-top: 50px;
    margin-bottom: 20px; }
  .footer-personal a {
    font-size: 14px;
    padding: 10px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .right-section {
    -webkit-overflow-scrolling: touch; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .split-home .right-section, .split-home .left-section {
    -webkit-overflow-scrolling: touch; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
  .right-section {
    -webkit-overflow-scrolling: touch; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .left-section {
    min-height: 100vh; } }

@media only screen and (max-width: 420px) {
  .intro-personal {
    padding-top: 100px; }
  .skills-wrapper,
  .software-wrapper,
  .clients-wrapper {
    text-align: center; }
  .intro-personal .intro-text h1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.1; }
  .primal-portfolio .categories ul li {
    display: block;
    text-align: center; }
  .primal-portfolio .categories ul li a {
    display: block;
    line-height: 1;
    padding: 5px 25px;
    margin-left: 0px;
    margin-bottom: 20px; }
  .left-section {
    display: none; }
  .right-section {
    position: absolute; } }

/* --------------------------------------------------
------- Media Queries for Split Layout Ends ---------
---------------------------------------------------*/
.wow {
  visibility: hidden; }

body {
  background: #fff; }

.intro-personal .intro-text h3 {
  font-size: 26px;
  padding-top: 15px;
  font-weight: 100; }

.left-section-4 {
  background: url(../assets/images/Aare.svg) no-repeat center center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1; }

.left-section-2 {
  background: url(../assets/images/with-the-dudes.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1; }

.left-section-3 {
  background-color: #fff;
  background: url(../assets/images/glen_pills_BW.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1; }

.left-section-home {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../assets/images/Vorderrhein.svg) no-repeat center center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1; }

.right-section {
  position: absolute; }

/*ABOUT PAGE*/
.split-about-experience ul {
  padding: 50px 0 0 0; }

.skills-wrapper,
.software-wrapper,
.clients-wrapper {
  margin: 30px 0;
  text-align: left; }

.skills {
  margin-top: 30px; }

.software-wrapper {
  margin-bottom: 30px; }

.software {
  margin-top: 30px; }

.skills,
.software,
.clients {
  font-weight: bold;
  padding-bottom: 10px; }

.skills-grid,
.software-grid {
  margin: 10px;
  width: 50px;
  height: 50px; }

.split-about .split-about-details {
  text-align: left; }

.split-about .split-about-details h4 {
  float: none;
  margin-bottom: 20px; }

.clients-grid {
  margin: 0 10px;
  width: 70px;
  height: 70px; }

textarea.form-control {
  height: auto;
  font-family: Poppins;
  color: #888DA1; }

@media (max-width: 420px) {
  .skills-wrapper,
  .software-wrapper,
  .clients-wrapper {
    text-align: left; }
  .skills-wrapper h3,
  .software-wrapper h3,
  .clients-wrapper h3 {
    text-align: left; } }

#thankyouBlock {
  padding: 0;
  margin: 0; }
  #thankyouBlock h5 {
    padding-bottom: 20px;
    font-size: 18px; }

.btn-contact {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  display: inline-block;
  text-transform: uppercase;
  background: transparent;
  border: 3px solid;
  border-color: #222222;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-transform: 0.5s;
  -moz-transform: 0.5s;
  transition: 0.5s; }

.btn-contact:visited {
  color: #222222;
  border-color: #222222; }

.btn-contact:hover,
.btn-contact:focus {
  color: #FFFFFF;
  background: #222222;
  border-color: #222222;
  text-decoration: none; }

a:visited {
  color: #222222; }

#nav-menu a {
  position: relative;
  color: #111;
  text-decoration: none; }

#nav-menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #222222;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s; }

#nav-menu li:hover a::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }
