<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
	<div class="content">

		<!-- Start Content-->
		<div class="container-fluid">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">Welcome Nik!</h4>
					</div>
				</div>
			</div>
			<!-- end page title -->

			<div class="row">
				<div class="col-md-12">
					<div class="card-box">
						<h3>CONTENT GOES HERE</h3>
					</div>
				</div><!-- end col -->

			</div>
			<!-- end row -->

		</div> <!-- container -->

	</div> <!-- content -->

	{% include dashboard/footer.html %}

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->