<!-- Feature Start -->
<section id="faq-section" class="section">
	<div class="container">

		<div class="col-lg-10 offset-lg-1 mt-4">
			<h4 class="mb-4">Frequently Asked Questions</h4>

			<div class="faq-content">

				<div class="accordion" id="faq-accordion">

					<div class="accordion" id="accordionExample">
						<div class="card border rounded shadow">

							<a data-toggle="collapse" href="#collapseOne" class="faq position-relative"
								aria-expanded="true" aria-controls="collapseOne">
								<div class="card-header bg-light p-3" id="headingOne">
									<h4 class="title mb-0 faq-question">Can I cancel my account anytime?</h4>
								</div>
							</a>

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordionExample">
								<div class="card-body">
									<p class="text-muted mb-0 faq-ans">Yes. Your account will still be active if your
										subscription expired, but after expired subscription you will not able to
										use our service anymore until you renew or purchase a new subscription.</p>
								</div>
							</div>
						</div>

						<div class="card border rounded shadow">
							<a data-toggle="collapse" href="#collapseTwo" class="faq position-relative collapsed"
								aria-expanded="false" aria-controls="collapseTwo">
								<div class="card-header bg-light p-3" id="headingTwo">
									<h4 class="title mb-0 faq-question">How secure is this?</h4>
								</div>
							</a>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
								data-parent="#accordionExample">
								<div class="card-body">
									<p class="text-muted mb-0 faq-ans">VideoSniperPro uses industry standard SSL
										security for all of your work. Your data is hosted in a secure hosting facility
										and regularly backed up.</p>
								</div>
							</div>
						</div>

						<div class="card rounded shadow mb-0">
							<a data-toggle="collapse" href="#collapsefive" class="faq position-relative collapsed"
								aria-expanded="false" aria-controls="collapsefive">
								<div class="card-header bg-light p-3" id="headingfive">
									<h4 class="title mb-0 faq-question">Can I change plans at any time?</h4>
								</div>
							</a>
							<div id="collapsefive" class="collapse" aria-labelledby="headingfive"
								data-parent="#accordionExample">
								<div class="card-body">
									<p class="text-muted mb-0 faq-ans">Yes you can cancel your subscription at any
										time.You can also upgrade from a plan to a any plan at any time.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
		<!--end col-->
	</div>
</section>