<!-- Hero Start -->
<section id="home" class="bg-home" style="background: url('assets/images/saas/home-shape.png') center center;">

	<div class="container">
		<div class="row">
			<div class="content-wrapper">
				<div class="title-heading content-wrapper__left">
					<h1 class="heading">Dominate Youtube &amp; Outrank Your&nbsp;Competition</h1>
					<p class="para-desc mx-auto text-muted">This software will rank your Videos by reverse
						engineering the YouTube Algorithm and sniping your&nbsp;competition!
					</p>
					<div class="btn-wrapper">
						<a href="#about" class="btn btn-primary">Sign Up <i class="fas fa-chevron-right"></i>
						</a>
					</div>

					<div class="btn-wrapper mt-3">
						<a href="http://vimeo.com/99025203" class="btn btn-outline-primary video-play-icon watch">Watch
							video<i class="fas fa-play-circle" style="font-size: 16px;"></i>
						</a>
					</div>
				</div>

				<div class="home-dashboard content-wrapper__right">

					<div class="icon-wrapper"><a href="http://vimeo.com/99025203"
							class="video-play-icon watch text-dark mb-2 ml-2">
							<i class="fas fa-play-circle"></i>
						</a>
					</div>
					<div class="img-wrapper">
						<img src="assets/images/saas/home.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<!--end col-->
		</div>
		<!--end row-->
	</div>
	<!--end container-->
</section>
<!--end section-->
<!-- Hero End -->