<!-- Partners start -->
<section id="home-quick-feature" class="section border-bottom pt-sm-60">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-12 text-center">
				<div class="section-title mb-60">
					<h4 class="main-title mb-4">Our Trusted Clients</h4>
					<p class="subtitle">Start working with that can provide everything you need
						to generate awareness, drive traffic, connect.</p>
				</div>
			</div>
			<!--end col-->
		</div>
		<!--end row-->

		<div class="feature-wrapper">

			<div class="left">
				<i class="fas fa-hdd"></i>
				<p>
					No installation required
				</p>
			</div>
			<div class="center">
				<i class="fas fa-cloud"></i>

				<p>
					Cloud based platform
				</p>
			</div>
			<div class="right">
				<i class="fab fa-cc-stripe"></i>
				<p>
					Secure payment via stripe
				</p>
			</div>

		</div>
		<!--end row-->
	</div>
	<!--end container-->
</section>
<!--end section-->
<!-- Partners End -->