
/* FONTS - START */


@font-face {
    /* Bell Slim - Regular - START */
	font-family:'bellslim';
	font-weight: 200;
	src: url('../fonts/bellslim_regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/bellslim_regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bellslim_regular-webfont.woff') format('woff'), 
	url('../fonts/bellslim_regular-webfont.ttf')  format('truetype'), 
	url('../fonts/bellslim_regular-webfont.svg#bell') format('svg');
	/* Bell Slim - Regular - END */
}

@font-face {
    /* Bell Slim - Medium - START */
	font-family:'bellslim';
	font-weight: normal;
	src: url('../fonts/bellslim_medium-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/bellslim_medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bellslim_medium-webfont.woff2') format('woff2'), 
	url('../fonts/bellslim_medium-webfont.woff') format('woff'), 
	url('../fonts/bellslim_medium-webfont.ttf')  format('truetype'), 
	url('../fonts/bellslim_medium-webfont.svg#bell') format('svg');
	/* Bell Slim - Medium - END */
}

@font-face {
	/* Bell Slim - SemiBold - START */
	font-family:'bellslim';
	font-weight: bold;
	src: url('../fonts/bellslim_semibold-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/bellslim_semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bellslim_semibold-webfont.woff2') format('woff2'), 
	url('../fonts/bellslim_semibold-webfont.woff') format('woff'), 
	url('../fonts/bellslim_semibold-webfont.ttf')  format('truetype'), 
	url('../fonts/bellslim_semibold-webfont.svg#bell') format('svg');
	/* Bell Slim - SemiBold - END */
}

/* FONTS - END */



/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
img,legend{border:0}legend,td,th{padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}


/* HEADINGS - START */

h1, h2, h3,
h1 a, h2 a, h3 a {
	color: #333;
	text-align: center;
	font-weight: 200;
}

.header h1, .header h2, .header h3
.header h1 a, .header h2 a, .header h3 a,
.footer h1, .footer h2, .footer h3,
.footer h1 a, .footer h2 a, .footer h3 a {
	color: #fff;
}


h1 {
	font-size: 46px;
	margin: -11px 0 0 0;
	padding: 0 0 0.17em;
}

h2 {
	font-size: 25px;
	margin: 0;
	padding: 0.43em 0 0.17em;
}

h3 {
	font-size: 20px;
	margin: 0;
	padding: 0 0 4px 0;
	text-align: left;
	color: #00549f;
}


h1 + h2 {
	padding-top: 0;
}

/* HEADINGS - END */



/* LINKS - START */

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* LINKS - END */



/* GENERAL - START */

sup {
   vertical-align: baseline;
   position: relative;
   font-size: 0.6em;
   top: -0.5em;
}

.no-break {
	display: inline-block;
}

.header a, .footer a {
	color: #fff;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.width-50 {
	width: 50%;
}

body {
	color: #555;
	background: #fff;
	font-size:16px;
	font-family: 'bellslim', Helvetica, Arial, sans-serif;
}

p, .legal-2 {
	font-family: Helvetica, Arial, sans-serif;	
}

/*p.highlight {
	font-family: 'bellslim', Helvetica, Arial, sans-serif;
}*/	

.wrapper {
	width: 100%;
	text-align: center;
}

.container {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}

img.error {
	padding: 40px 0 10px 0;
}

img.error + h1 {
	padding-top: 0;
}

.text-right {
	text-align: right;
}
.full-width {
	width: 100%;
}

/* GENERAL - END */



/* HEADER / FOOTER - START */

.header img {
	float: left;
	margin: 25px 0;
}

.toggle {
	float: right;
	margin-top: 30px;
}

.header, .footer {
	background: #00549f;
	color: #fff;
}

.footer {
	padding: 14px 0 9px 0;
}

.footer h2 {
	padding-bottom: 24px;
}

.footer p {
	margin-top: 10px;
	font-size: 15px;
}

.cta {
	width: 600px;
	display: inline-block;
}

#submit {
	background: none;
    border: none;
    float: right;
    margin-top: 30px;
    font-size: 16px;
}

input[type=submit]:focus {
	outline: none;
}



/* HEADER / FOOTER - END */



/* MAIN - START */

.main {
	background: #e1e1e1;
	padding: 0 0 32px 0;
}

.main .container.top {
	display: block;
}

#main-left-box h2,
.main .left p {
	text-align: left;
}

#main-wrapper {
	margin-top: 48px;
}

#main-left {
	width: 720px;
	margin: 0px 0 0 0;
}

#main-left-box {
	background: #fff;
	width: 100%;
	margin-top: 25px;
}

#main-left .inner {
	padding-left: 50px;
	padding-right: 50px;
	display:block;
}

#main-left-box .inner {
	padding-top: 33px;
	padding-bottom: 25px;
	display:inline-block;
}

#main-left-box h2 {
	padding-bottom: 5px;
}

#main-right {
	width: 192px;
}

.highlight {
	background: #00549f;
	color: #fff;
	display: inline-block;
	padding: 6px 11px;
	margin: 8px 0 12px 0;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

#main-left-box .legal.clear.left {
	margin-top: 24px;
	margin-bottom: 24px;
}


/* MAIN - END */



/* OFFER - START */

#offer-left {
	width: 220px;
	margin-right: 21px;
	margin-top: 15px;
}

#offer-left img {
	float: left;
}

#offer-right {
	width: 368px;
	margin-top: 10px;
}

#offer-right span.legal {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	display: block;
}

#offer-right .legal {
	margin: -5px 0 0 0;
}

.price {
	font-size: 69px;
	line-height: 1.0em;
	color: #00549f;
	text-align: left;
	display: block;
	margin-top: 10px;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
}

.price-fr {
	font-size: 69px;
	line-height: 1.0em;
	color: #00549f;
	text-align: left;
	display: block;
	margin-top: 0px;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
}

.price sup {
	font-size: 0.3em;
	top: -1.5em;
}
.price-fr sup {
	font-size: 0.3em;
	top: -1.5em;
}

.price sup sup {
	font-size: 0.6em;
	top: -0.5em;
}
.price-fr sup sup {
	font-size: 0.6em;
	top: -0.5em;
}

/* OFFER - END */



/* METER - START */

#meter-outer {
	width: 100%;
	position: relative;
}

#goal-banner {
	background: url(../img/img-banner-2x.png) top center no-repeat;
	background-size: 145px 35px;
	height: 35px;
	color: #fff;
	position: relative;
	z-index: 999;
	line-height: 27px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 9px;
	font-size: 14px;
}

.ie8 #goal-banner {
	background-image: url(../img/img-banner.png);
}

#meter-outer img.goal-yes {
	position: absolute;
	top: -56px;
	left: 0;
}

#meter {
	background: #f0f0f1;
	width: 100%;
	height: 462px;
	position: relative;
}

#meter img {
	z-index: 999;
	position: relative
}

#fill {
	width: 100%;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #00549f;
}

#counter {
	background: url(../img/img-counter-2x.png) top center no-repeat;
	background-size: 59px 21px;
	width: 59px;
	height: 21px;
	line-height: 22px;
	position: absolute;
	top: -10px;
	right: -66px;
	color: #fff;
	font-size: 13px;
	text-align: right;
}

.ie8 #counter {
	background-image: url(../img/img-counter.png);
}

#counter span {
	padding-right: 12px;
}

/* METER - END */

.text-center {
	text-align: center;
}

sup.from {
	font-size: 11px;
	top: -3.6em;
}
.from-fr {
  font-family: Helvetica, Arial, sans-serif;
  color: #00549f;
  display: block;
  text-align: left;
  padding-top: 15px;
  line-height: 1.0em;
  font-size: 11px;
}

/* LEGAL - START */

.legal {
	font-size: 11px;
	text-align: justify;
}

.legal-2 {
	font-size: 12px;
	color: #00549f;
	text-align: left;
	display: block;
}

.legal p {
	margin: 22px 0;
}

.legal a {
	text-decoration: underline;
}

table.legal {
	font-family: Helvetica, Arial, sans-serif;
	padding: 25px 0 11px;
	clear: both;
	display: block;
}

.congrats #main-right {
    margin-top: 30px;
}

/* LEGAL - END */


@media screen and (max-width: 1150px) {

	.container {
		width: 79%;
		margin: 0 auto;
	}
	
	#main-left {
    	width: 68%;
	}
	
	#main-left .inner {
		padding-left: 6%;
		padding-right: 6%;
	}
	
	#main-right {
    	margin-top: 119px;
	}
	
	.congrats #main-right {
    	margin-top: 30px;
	}

}

@media screen and (max-width: 980px) {
	
	#main-right {
    	display: none;
	}
	
	#main-left {
    	width: 100%;
	}
	
	.container {
		width: 90%;
	}

}

@media screen and (max-width: 767px) {

	.container {
		width: 90%;
	}
	
	#main-wrapper,
	#main-left {
		width: 100%;
	}
	
	#main-left {
		border: none;
		margin-top: 0;
	}
	
	#main-right {
		display: none;
	}
	
	#main-left .inner {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.main {
    	padding: 0;
	}
	
	.error .main {
    	padding-bottom: 32px;
	}
	
	h1 {
		font-size: 30px;
	}
	
	h2 {
		font-size: 20px;
	}
	
	h3 {
		font-size: 18px;
	}
	
	#main-wrapper {
    	margin-top: 33px;
		margin-bottom: -5px;
	}


}

@media screen and (max-width: 680px) {
	
	#offer-left {
		width: 100%;
		margin-right: 0;
	}
	
	#offer-left img {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	
	#offer-right.left {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		float: none;
		clear: both;
	}
	
	

}

@media screen and (max-width: 435px) {

	.cta {
		width: 100%;
		
	}
	
	.width-50
	 {
		width: 100%;
		margin: 5px 0;
	}
	
	.cta {
		text-align: left;
	}
	
	.cta img {
		float: left;
		margin-right: 18px;
		width: 40px;
		height: auto;
	}
	
	#offer-right.left {
		width: 240px;
		margin-left: auto;
	}

	.mobile-hidden {
		display: none;
	}

}

	
	
	
	
	
	

