<!-- mobile navigation -->
<div id="mobile-menu">
	<li class="mobile-menu-wrapper">


		<ul class="content">

			<li class="nav-item">
				<a class="nav-link scroll" href="#home-features">Features</a>
			</li>
			<li class="nav-item">
				<a class="nav-link scroll" href="#home-pricing">Pricing</a>
			</li>
			<li class="nav-item">
				<a class="nav-link scroll" href="#home-faq">FAQ</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" target="_blank" data-toggle="modal" data-target="#loginModal">Login</a
					class="nav-link scroll">
			</li>

			<li class="nav-item">
				<a href="#" target="_blank" class="nav-link btn btn-primary" data-toggle="modal"
					data-target="#registerModal">Sign Up</a>
			</li>

		</ul>
		<div class="bg-wrapper">
			<img src="{{ site.url }}/assets/images/megamenu-bg.png" alt="Background pattern">
		</div>

</div>
</div>