<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
	<div class="container">
		<!-- Logo container-->
		<div class="logo-wrapper">
			<a class="logo" href="/index.html"><img src="/assets/images/vsp-logo-red.png" alt="VSP Logo"></a>
		</div>
		<div class="buy-button">
			<a href="#" target="_blank" class="btn btn-primary">Buy Now</a>
		</div>
		<!--end login button-->
		<!-- End Logo container-->
		<div class="menu-extras">
			<div class="menu-item">
				<!-- Mobile menu toggle-->
				<a class="navbar-toggle">
					<div class="lines">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
				<!-- End mobile menu toggle-->
			</div>
		</div>

		<div id="navigation">
			<!-- Navigation Menu-->
			<ul class="navigation-menu">
				<li><a href="/index.html">Home</a></li>
				<li class="has-submenu">
					<a href="javascript:void(0)">Landing</a><span class="menu-arrow"></span>
					<ul class="submenu megamenu">
						<li>
							<ul>
								<li><a href="index_saas.html">Saas</a></li>
								<li><a href="index_agency.html">Agency</a></li>
								<li><a href="index_apps.html">Application</a></li>
								<li><a href="index_studio.html">Studio</a></li>
								<li><a href="index_business.html">Business</a></li>
								<li><a href="index_modern_business.html">Modern Business</a></li>
								<li><a href="index_hotel.html">Hotel</a></li>
								<li><a href="index_marketing.html">Marketing</a></li>
								<li><a href="index_enterprise.html">Enterprise </a></li>
								<li><a href="index_coworking.html">Coworking</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="index_cloud_hosting.html">Cloud Hosting</a></li>
								<li><a href="index_event.html">Event</a></li>
								<li><a href="index_course.html">Course </a></li>
								<li><a href="index_personal.html">Personal </a></li>
								<li><a href="index_single_product.html">Product </a></li>
								<li><a href="index_portfolio.html">Portfolio </a></li>
								<li><a href="index_services.html">Service </a></li>
								<li><a href="index_payments.html">Payments <span
											class="badge badge-success rounded ml-2">Latest</span></a></li>
								<li><a href="index_crypto.html">Cryptocurrency <span
											class="badge badge-danger rounded ml-2">Hot</span></a></li>
								<li><a href="index_software.html">Software <span
											class="badge badge-warning rounded ml-2">New</span></a></li>
								<li><a href="index-rtl.html">RTL Version <span
											class="badge badge-primary rounded ml-2">Added</span></a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="has-submenu">
					<a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
					<ul class="submenu">
						<li><a href="page_aboutus.html"> About Us</a></li>
						<li><a href="page_services.html">Services</a></li>
						<li><a href="page_pricing.html">Pricing</a></li>
						<li><a href="page_team.html"> Team</a></li>
						<li class="has-submenu"><a href="javascript:void(0)"> Careers</a><span
								class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="page_jobs.html">Jobs</a></li>
								<li><a href="page_job_detail.html">Job Detail</a></li>
								<li><a href="page_job_apply.html">Job Apply</a></li>
							</ul>
						</li>
						<li class="has-submenu"><a href="javascript:void(0)"> Blog</a><span
								class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="page_blog.html">Blog Grid</a></li>
								<li><a href="page_blog_sidebar.html">Blog with Sidebar</a></li>
								<li><a href="page_blog_detail.html">Blog Detail</a></li>
							</ul>
						</li>
						<li class="has-submenu"><a href="javascript:void(0)"> Works</a><span
								class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="page_work.html">Works Grid</a></li>
								<li><a href="page_work_detail.html">Work Detail</a></li>
							</ul>
						</li>
						<li class="has-submenu"><a href="javascript:void(0)"> User </a><span
								class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="page_login.html">Login</a></li>
								<li><a href="page_signup.html">Signup</a></li>
								<li><a href="page_recovery_passward.html">Recovery Passward</a></li>
								<li><a href="page_cover_login.html">Login 2</a></li>
								<li><a href="page_cover_signup.html">Signup 2</a></li>
								<li><a href="page_cover_re_passward.html">Recovery Passward 2</a></li>
							</ul>
						</li>
						<li class="has-submenu"><a href="javascript:void(0)"> Utility </a><span
								class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="page_terms.html">Terms of Services</a></li>
								<li><a href="page_privacy.html">Privacy Policy</a></li>
							</ul>
						</li>
						<li class="has-submenu"><a href="javascript:void(0)"> Special <span
									class="badge badge-warning rounded ml-2">Added</span></a><span
								class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="page_comingsoon.html">Coming Soon</a></li>
								<li><a href="page_comingsoon2.html">Coming Soon Two <span
											class="badge badge-success rounded ml-2">New</span></a></li>
								<li><a href="page_maintenance.html">Maintenance</a></li>
								<li><a href="page_error.html">Error</a></li>
							</ul>
						</li>
						<li class="has-submenu"><a href="javascript:void(0)"> Contact </a><span
								class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="page_contact_detail.html">Contact Detail </a></li>
								<li><a href="page_contact_one.html">Contact One </a></li>
								<li><a href="page_contact_two.html">Contact Two </a></li>
								<li><a href="page_contact_three.html">Contact Three </a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="javascript:void(0)">Docs</a><span class="menu-arrow"></span>
					<ul class="submenu">
						<li><a href="documentation.html">Documentation </a></li>
						<li><a href="changelog.html">Changelog </a></li>
						<li><a href="components.html">Components</a></li>
					</ul>
				</li>
			</ul>
			<!--end navigation menu-->
			<div class="buy-menu-btn d-none">
				<a href="https://1.envato.market/4n73n" target="_blank" class="btn btn-primary">Buy Now</a>
			</div>
			<!--end login button-->
		</div>
		<!--end navigation-->
	</div>
	<!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->