<!-- javascript -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.easing.min.js"></script>
<script src="assets/js/scrollspy.min.js"></script>
<!-- SLIDER -->
<script src="assets/js/owl.carousel.min.js "></script>
<script src="assets/js/owl.init.js "></script>
<!-- Magnific Popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/magnific.init.js"></script>
<!-- Main Js -->
<script src="assets/js/app.js"></script>