/******************************************************************
Site Name:
Author:

Stylesheet: Variables
******************************************************************/

/*********************
COLORS
*********************/

$black:             #323944;
$white:             #fff;

$header-gray:       #d7d7d7;
$content-gray:      #ececec;
$headline-text:     #525251;
$text-color:        #5c6b80;
$bell-blue:         #0066a4;
$button-blue:       #317eb2;
$dark-gray:         #282828;

$scroll-bar:        #abcdde;

$menu-text:         #fff;
$menu-text-2:       #b0d0e3;

$green:             #7dd667;
$blue:              #2980b9;

$link-color:        $blue;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
