.content-wrapper
  
  .content-headline
    h1 FTTH DM 
      i.fa.fa-file-pdf-o
  .content-subhead
    h3 Docket: 4550
    h3 Qty: 850,000
    h3 Drop date: July 21, 2015
  
  .content
    div.image-1
      img.page-1(src="library/images/page-1.jpg" alt="")
    div.image-2
      img.page-1(src="library/images/page-1.jpg" alt="")
    div.image-3
      img.page-1(src="library/images/page-1.jpg" alt="")
