footer
  .box
  script(type="text/javascript" src="library/js/libs/jquery-1.11.3.min.js")
  script(type="text/javascript" src="library/js/jscrollpane.min.js")
  script(type="text/javascript" src="library/js/mousewheel.js")
  script(type="text/javascript" src="library/js/mwheel.js")
  script(type="text/javascript" src="library/js/scripts.js")
