.nav-wrapper
  
  .nav
  
    a(href='#')
      .pop-out-button
        i.fa.fa-angle-double-left

    
    ul.year-dropdown 
      i.fa.fa-caret-down
      li.year-list-parent
        a(href="#") #[p#year YEAR]
        ul.year-list
          a.year(href="#") #[li#2014 2014]
          a.year(href="#") #[li#2013 2013]
          a.year(href="#") #[li#2012 2012]
          a.year(href="#") #[li#2011 2011]
          a.year(href="#") #[li#2010 2010]

    ul.month-dropdown 
      i.fa.fa-caret-down
      li.month-list-parent
        a(href="#") #[p#month MONTH]
        ul.month-list
          a.month(href="#") #[li#feb February]
          a.month(href="#") #[li#mar March]
          a.month(href="#") #[li#apr April]
          a.month(href="#") #[li#may May]
          a.month(href="#") #[li#june June]
          a.month(href="#") #[li#july July]
          a.month(href="#") #[li#aug August]
          a.month(href="#") #[li#sep September]
          a.month(href="#") #[li#oct October]
          a.month(href="#") #[li#nov November]
          a.month(href="#") #[li#dec December]
      
  .thumbnails  
    
    #group-1
      a(href="?month=july&project=project-one")
        .thumb-wrapper
          .thumb-1
          h6 FTTN DM
          p 4550
      
      a(href="?month=july&project=project-one")  
        .thumb-wrapper
          .thumb-2
          h6 FTTN DM
          p 4550
          
      a(href="?month=july&project=project-one")  
        .thumb-wrapper
          .thumb-3
          h6 FTTN DM
          p 4550
          
      a(href="?month=july&project=project-one")    
        .thumb-wrapper
          .thumb-4
          h6 FTTN DM
          p 4550
          
      a(href="?month=july&project=project-one")    
        .thumb-wrapper
          .thumb-5
          h6 FTTN DM
          p 4550
    //-     
    //- #group-2
    //-   .thumb-wrapper
    //-     .thumb-1
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //-   .thumb-wrapper    
    //-     .thumb-2
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //- #group-3
    //-   .thumb-wrapper
    //-     .thumb-1
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //-   .thumb-wrapper    
    //-     .thumb-2
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //-   .thumb-wrapper  
    //-     .thumb-3
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //- #group-4
    //-   .thumb-wrapper
    //-     .thumb-1
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //-   .thumb-wrapper    
    //-     .thumb-2
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //-   .thumb-wrapper  
    //-     .thumb-3
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //- #group-4
    //-   .thumb-wrapper
    //-     .thumb-1
    //-     h6 FTTN DM
    //-     p 4550
    //-   
    //-     
    //- #group-5
    //-   .thumb-wrapper
    //-     .thumb-1
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //-   .thumb-wrapper    
    //-     .thumb-2
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //-   .thumb-wrapper  
    //-     .thumb-3
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //-   .thumb-wrapper  
    //-     .thumb-4
    //-     h6 FTTN DM
    //-     p 4550
    //-     
    //-   .thumb-wrapper  
    //-     .thumb-5
    //-     h6 FTTN DM
    //-     p 4550
    //- 



    
    
