/* BELLSLIM FONT */

@font-face {
    font-family: 'BellSlimSemiBold';
    src: url('bellslimsemibold-webfont.eot?#iefix') format('eot'),
        url('bellslimsemibold-webfont.woff') format('woff'),
        url('bellslimsemibold-webfont.ttf') format('truetype'),
        url('bellslimsemibold-webfont.svg#webfontwwJjETcK') format('svg');
    font-style: normal;
    font-weight: normal;
}
