//
// features.scss
//

#home-features {
    padding: 140px 0 100px;

    @include mq(custom, max, 768) {
        padding: 100px 0 60px;
    }

    .features-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .feature {
            width: 30%;
            border-radius: 15px;
            padding: 20px;
            padding-top: 60px;
            text-align: center;

            @include mq(custom, max, 992) {
                margin-bottom: 30px;
                padding: 0 10px 30px 10px;
            }

            @include mq(custom, max, 767) {
                width: 50%;
                padding-bottom: 20px;
                max-width: 300px;
            }

            @include mq(custom, max, 500) {
                width: 100%;
                margin: 0 auto 30px;
            }
        }

        .icon-wrapper {
            position: relative;
            margin-bottom: 40px;

            &:before {
                content: "";
                position: absolute;
                top: -20px;
                right: calc(50% - 35px);
                width: 70px;
                height: 70px;
                border-radius: 10px;
                transform: rotate(0deg);
                background: linear-gradient(62.5deg, rgba($primary, 0.3), rgba($primary, 1));
                z-index: -1;
            }

            i {
                @include font-size(30);
                color: #fff;
            }
        }

        .content {
            @include mq(custom, max, 500) {
                max-width: 270px;
                margin: 0 auto;
            }
        }
    }
}

// .feature-list {
//     li {
//         margin-bottom: 5px;
//         font-size: 15px;
//     }
// }

// .features {
//     .icon {
//         font-size: 24px;
//         width: 50px;
//         height: 50px;
//         line-height: 50px;
//         background: lighten($primary, 45%);
//         text-align: center;
//     }

//     .image {
//         img {
//             height: 60px;
//         }

//         &:before {
//             content: "";
//             position: absolute;
//             bottom: 0px;
//             right: -15px;
//             width: 70px;
//             height: 70px;
//             border-radius: 10px;
//             transform: rotate(22deg);
//             background: linear-gradient(62.5deg, transparent, rgba($primary, 0.09));
//             z-index: -1;
//         }
//     }

//     .title-2 {
//         font-size: 20px;
//     }
// }

// .key-feature {
//     transition: all 0.2s ease;

//     .icon {
//         height: 40px;
//         width: 40px;
//         line-height: 40px;
//         background: linear-gradient(45deg, transparent, rgba($primary, 0.15));
//         font-size: 24px;
//     }

//     &:hover {
//         transform: scale(1.05);
//     }
// }

// .key-feature .content,
// .features {
//     .title {
//         font-size: 18px;
//     }
// }

// Work process
.work-process {
    transition: all 0.5s ease;

    .title {
        font-size: 20px;
    }

    .step,
    .step-icon {
        font-size: 45px;
        opacity: 0.06;
    }

    a {
        font-size: 15px;

        &:hover {
            color: darken($primary, 10%) !important;
        }
    }

    &:hover {
        transform: translateY(-10px);
    }
}

//course.html
.course-feature {
    .title {
        font-size: 20px;

        &:hover {
            color: $primary !important;
        }
    }

    .full-img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        margin: 0 auto;
        z-index: -2;
        transition: all 0.5s ease;
    }

    &:hover {
        transform: translateY(-10px);

        .full-img {
            opacity: 0.08;
        }
    }
}

//index_crypto.html and index_course.html
.crypto-table,
.course-feature {
    position: relative;
    z-index: 2;
    transition: all 0.5s ease;
    margin: -260px 0 0px;
    box-shadow: $shadow;
}

@media screen and (max-width: 767px) {

    .course-feature,
    .crypto-table {
        margin: 0 0 30px;
    }
}

@media (max-width: 768px) {
    .process-arrow:after {
        display: none;
    }
}