#home {
    height: 100vh;
    display: flex;
    align-items: center;

    .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__left {
            width: 40%;
            padding-right: 40px;
        }

        &__right {
            width: 60%;

            .img-wrapper {
                img {
                    width: 100%;
                    top: 0;
                }
            }
        }
    }
}