#reg-modal-flip,
#login-modal-flip {
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 0 auto;
    height: 100%;

    @include mq(custom, max, 767) {
        height: 100vh;
        margin: 0 auto;
    }

    .modal-content {
        transition: transform 1s;
        transform-style: preserve-3d;
        position: absolute;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        padding: 30px;

        @include mq(custom, max, 767) {
            height: 100%;
            border-radius: 0;
            padding-bottom: 60px;
        }

        &.front {
            background: #fff;
        }

        &.back {
            transform: rotateY(180deg);
            background: #fff;
        }

        .close-btn {
            position: absolute;
            right: 15px;
            top: 10px;
        }

        .login-form {
            background: #fff;

            .row {
                .last {
                    @include mq(custom, max, 767) {
                        margin-bottom: 60px;
                    }
                }
            }
        }

        #reg-login-flip,
        #reg-register-flip,
        #login-flip,
        #register-flip {
            cursor: pointer;
            color: $primary;
        }
    }

    &.is-flipped {
        transform: rotateY(180deg);
    }

}