.intro-personal .intro-text h3 {
	font-size: 26px;
	padding-top: 15px;
	font-weight: 100;
}

.left-section-2 {
    background: url(../images/with-the-dudes.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.left-section-3 {
    background: url(../images/glen_pills_BW.png) no-repeat center center;    
    background-size: contain;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}