<!-- Feature Start -->
<section id="home-faq" class="section">
	<div class="container">

		<div class="col-lg-10 offset-lg-1 mt-4">
			<p class="mb-4">Frequently Asked Questions</p>

			<div class="faq-content">

				<div class="accordion" id="faq-accordion">

					<div class="accordion" id="faqaccordion">

						<div class="card border rounded shadow">
							<a data-toggle="collapse" href="#collapseOne" class="faq position-relative collapsed"
								aria-expanded="false" aria-controls="collapseOne">
								<div class="card-header bg-light p-3" id="headingOne">
									<p class="title mb-0">Can I cancel my account anytime?</p>
								</div>
							</a>

							<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
								data-parent="#faqaccordion">
								<div class="card-body">
									<p class="text-muted mb-0">Yes. Your account will still be active if your
										subscription expired, but after expired subscription you will not able to
										use our service anymore until you renew or purchase a new subscription.</p>
								</div>
							</div>
						</div>

						<div class="card border rounded shadow">
							<a data-toggle="collapse" href="#collapseTwo" class="faq position-relative collapsed"
								aria-expanded="false" aria-controls="collapseTwo">
								<div class="card-header bg-light p-3" id="headingTwo">
									<p class="title mb-0">How secure is this?</p>
								</div>
							</a>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
								data-parent="#faqaccordion">
								<div class="card-body">
									<p class="text-muted mb-0">VideoSniperPro uses industry standard SSL
										security for all of your work. Your data is hosted in a secure hosting
										facility
										and regularly backed up.</p>
								</div>
							</div>
						</div>

						<div class="card rounded shadow mb-0">
							<a data-toggle="collapse" href="#collapsefive" class="faq position-relative collapsed"
								aria-expanded="false" aria-controls="collapsefive">
								<div class="card-header bg-light p-3" id="headingfive">
									<p class="title mb-0">Can I change plans at any time?</p>
								</div>
							</a>
							<div id="collapsefive" class="collapse" aria-labelledby="headingfive"
								data-parent="#faqaccordion">
								<div class="card-body">
									<p class="text-muted mb-0">Yes you can cancel your subscription at any time.You can
										also upgrade from a plan to a any plan at any time.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
		<!--end col-->
	</div>
</section>