<!-- Feature Start -->
<section id="home-features" class="section">
	<div class="container">

		<div class="features-wrapper">

			{% for feature in site.data.features %}
			<div class="feature">

				<div class="icon-wrapper">
					<i class="fas {{ feature.icon }}"></i>
				</div>

				<div class="content">
					<h4 class="title">{{ feature.title }}</h4>
					<p class="text text-muted">{{ feature.text }}</p>
				</div>

			</div>
			<!--end col-->
			{% endfor %}

		</div>

	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="home-shape-bottom">
				<img src="assets/images/shapes/curve-light.png" alt="" class="img-fluid mx-auto d-block">
			</div>
		</div>
		<!--end row-->
	</div> <!-- END CONTAINER -->
</section>
<!--end section-->
<!-- Feature End -->