<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
	<div class="container">
		<!-- Logo container-->
		<div class="logo-wrapper">
			<a class="logo" href="/index.html">{% svg '/assets/images/vsp-logo.svg' %}</a>
		</div>

		<!--end login button-->

		<!-- End Logo container-->
		<div class="menu-extras">
			<div class="menu-item">
				<!-- Mobile menu toggle-->
				<button class="hamburger hamburger--slider" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
				<!-- End mobile menu toggle-->
			</div>
		</div>

		<div class="nav-links">
			{% if page.id == 'home' %}
			<!-- Navigation Menu-->
			<ul id="navigation-menu" class="nav navigation-menu">
				<li class="nav-item">
					<a class="nav-link scroll" href="#home-features">Features</a></li>
				<li class="nav-item">
					<a class="nav-link scroll" href="#home-pricing">Pricing</a></li>
				<li class="nav-item">
					<a class="nav-link scroll" href="#home-faq">FAQ</a></li>
			</ul>
			{% else %}
			<!-- Navigation Menu-->
			<ul id="navigation-menu" class="nav navigation-menu">
				<li class="nav-item">
					<a class="nav-link" href="{{ site.url }}/#home-features">Features</a></li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.url }}/#home-pricing">Pricing</a></li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.url }}/#home-faq">FAQ</a></li>
			</ul>
			{% endif %}

		</div>
		<!--end navigation-->

		<div class="signup-buttons">
			<div class="login-wrapper">
				<a href="#" target="_blank" data-toggle="modal" data-target="#loginModal">Login</a>
			</div>
			<div class="buy-button">
				<a href="#" target="_blank" class="btn btn-primary" data-toggle="modal"
					data-target="#registerModal">Sign
					Up</a>
			</div>
		</div>
	</div>
	<!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->