<!-- javascript -->
<script src="{{site.url}}/assets/js/jquery.min.js"></script>
<script src="{{site.url}}/assets/js/bootstrap.bundle.min.js"></script>
<script src="{{site.url}}/assets/js/jquery.easing.min.js"></script>
<script src="{{site.url}}/assets/js/scrollspy.min.js"></script>
<!-- Magnific Popup -->
<script src="{{site.url}}/assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{site.url}}/assets/js/magnific.init.js"></script>
<!-- Main Js -->
<script src="{{site.url}}/assets/js/app.js"></script>