// Prevent the flash of content before wow.js does it s thing
.wow {
  visibility: hidden;
}

body {
    background: #fff;
}

.intro-personal .intro-text h3 {
	font-size: 26px;
	padding-top: 15px;
	font-weight: 100;
}

.left-section-4 {
    background: url(../assets/images/Aare.svg) 0% 0% / cover;
}

.left-section-2 {
    background: url(../assets/images/with-the-dudes.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.left-section-3 {
    background-color: #fff;
    background: url(../assets/images/glen_pills_BW.png) no-repeat center center;    
    background-size: contain;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.left-section-home {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../assets/images/Vorderrhein.svg) no-repeat center center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.right-section {
    position: absolute; 
}

/*ABOUT PAGE*/

.split-about-experience ul {
  padding: 50px 0 0 0;
}

.skills-wrapper,
.software-wrapper,
.clients-wrapper {
    margin:30px 0;
    text-align: left;
}

.skills {
    margin-top:30px;
}

.software-wrapper {
    margin-bottom:30px;
}

.software {
    margin-top:30px;
}

.skills,
.software,
.clients {
    font-weight: bold;
    padding-bottom: 10px;
}

.skills-grid,
.software-grid {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.split-about .split-about-details {
    text-align: left;
}

.split-about .split-about-details h4 {
    float: none;
    margin-bottom: 20px;
}

.clients-grid {
    margin: 0 10px;
    width: 70px;
    height: 70px;
}

textarea.form-control {
    height: auto;
    font-family: Poppins;
    color: #888DA1;
}

@media (max-width: 420px) {

    .skills-wrapper,
    .software-wrapper,
    .clients-wrapper {
        text-align: left;
    }

    .skills-wrapper h3,
    .software-wrapper h3,
    .clients-wrapper h3 {
        text-align: left;
    }

}

#thankyouBlock {
    padding: 0;
    margin: 0;

    h5 {
        padding-bottom: 20px;
        font-size: 18px;
    }
}


.btn-contact {
	font-family: Work Sans;
	font-size: 18px;
	font-weight: 600;
	color: $accent-color;
	display: inline-block;
	text-transform: uppercase;
	background: transparent;
	border: 3px solid;
	border-color: $accent-color;
	padding: 10px 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	-webkit-transform: 0.5s;
	-moz-transform: 0.5s;
	transition: 0.5s;
}

.btn-contact:visited {
    color: $accent-color;
	border-color: $accent-color;
}

.btn-contact:hover, 
.btn-contact:focus {
	color: #FFFFFF;
	background: $accent-color;
	border-color: $accent-color;
	text-decoration: none;
}

a:visited {
    color: $accent-color;
}

#nav-menu a {
  position: relative;
  color: #111;
	text-decoration: none;
}


#nav-menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: $accent-color;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#nav-menu li:hover a::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}