---
layout: default
permalink: /about/
---

<!-- About Main Section-->
<div class="main">
    <section class="split-home">
        <section class="left-section-2 wow fadeIn" data-wow-delay=".2s"></section>
        <section class="right-section">
            <a href="index.html" class="logo hidden-xs hidden-sm"><img src="/assets/images/logo.png" width="35"
                    height="35" alt="Logo" /></a>
            <div class="split-about">
                <div class="split-about-details wow fadeInLeft" data-wow-delay=".3s">
                    <h4 class="wow fadeInLeft" data-wow-delay=".1s">About</h4>
                    <h1 class="wow fadeInLeft" data-wow-delay=".2s">Glen Hodges</h1>
                    <span class="wow fadeInLeft job-title" data-wow-delay=".3s">Web Developer</span>
                    <p>{{ site.about }}</p>

                    <div class="split-about-experience">
                        <h4>Skills</h4>
                        <div class="skills-wrapper">
                            {% for item in site.data.skills.skills %}
                                <img class="skills-grid" src="{{ item.img }}" alt="{{ item.alt }}"> 
                            {% endfor %}
                        </div>

                        <div class="software-wrapper">
                            {% for item in site.data.skills.software %}
                                <img class="software-grid" src="{{ item.img }}" alt="}{{ item.alt }}">
                            {% endfor %}
                        </div>
                    </div>

                    <div class="split-about-experience">
                        <h4 class="clients">Clients</h4>
                        <div class="clients-wrapper">
                            {% for item in site.data.skills.clients %}
                                <img class="clients-grid" src="{{ item.img }}" alt="{{ item.alt }}">
                            {% endfor %}
                        </div>
                    </div>

                    <h2>Have a great plan that
                        <br class="hidden-xs">
                        needs a developer?</h2>
                    <a class="btn-contact" href="/contact">Hire Me</a>
                </div>
            </div>