<a href="index.html" class="logo hidden-md hidden-lg"><img src="{{ site.url }}/assets/images/logo.png" width="35" height="35"
        alt="Logo" /></a>
<div class="nav-trigger" id="nav-trigger">
    <span></span>
    <span></span>
    <span></span>
</div>
<div id="nav-menu">
    <a href="index.html" class="logo"><img src="{{ site.url }}/assets/images/logo.png" width="35" height="35" alt="Logo" /></a>
    <ul class="navigation">
        <li><a href="{{ site.url }}/">Home</a></li>
        <li><a href="{{ site.url }}/about">About</a></li>
        <li><a href="{{ site.url }}/portfolio">Portfolio</a></li>
        <li><a href="{{ site.url }}/contact">Contact</a></li>
    </ul> <!-- cd-single-item-wrapper -->
</div>