---
layout: default
---

<div class="main">
    <section class="split-home">
        <section class="full-width">
            <a href="/" class="logo hidden-xs hidden-sm"><img src="{{ site.url }}/assets/images/logo.png" width="35" height="35" alt="Logo" /></a>

                <div class="portfolio-single">
                
                    {{ content }}
                    
                    <div class="col-md-12 text-center">
                        <div class="link-back">
                            <a class="link-back" href="/portfolio"><i class="icon ion-md-arrow-round-back"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div><!-- Main-->